{% extends 'layout.html' %}
{% block content %}

<section id="woz-layout">
    <div class="container">
        <section class="'sec">
            <div class="row">
                <div class="col-sm-4">
                    <section class="sec">
                        <img src="{{image_url}}" alt="{{image_url}}" class="img-fluid img-square">

                    </section>

                    <section class="container">
                        <h2> {{track_name}} {{album}} {{artist}}
                        <small><a href="/home">[back]</a></small></h2>
                        <a href="/play">play</a>
                        <a href="/pause">pause</a>
                    </section>
                </div>


            </div>
        </section>
    </div>
</section>
{% endblock content %}